<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SigninHandler</display-name>
    <servlet-name>SigninHandler</servlet-name>
    <servlet-class>auth.SigninHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninHandler</servlet-name>
    <url-pattern>/SigninHandler</url-pattern>
  </servlet-mapping>
  <display-name>StockProjectSliit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DbConn</display-name>
    <servlet-name>DbConn</servlet-name>
    <servlet-class>auth.DbConn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConn</servlet-name>
    <url-pattern>/DbConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>auth.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>auth.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupHandler</display-name>
    <servlet-name>SignupHandler</servlet-name>
    <servlet-class>auth.SignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupHandler</servlet-name>
    <url-pattern>/SignupHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpHandler</display-name>
    <servlet-name>SignUpHandler</servlet-name>
    <servlet-class>auth.SignUpHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpHandler</servlet-name>
    <url-pattern>/SignUpHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetpass1Handler</display-name>
    <servlet-name>forgetpass1Handler</servlet-name>
    <servlet-class>auth.forgetpass1Handler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetpass1Handler</servlet-name>
    <url-pattern>/forgetpass1Handler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>auth.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Otp</display-name>
    <servlet-name>Otp</servlet-name>
    <servlet-class>auth.Otp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Otp</servlet-name>
    <url-pattern>/Otp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepassword</display-name>
    <servlet-name>updatepassword</servlet-name>
    <servlet-class>auth.updatepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepassword</servlet-name>
    <url-pattern>/updatepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>session</display-name>
    <servlet-name>session</servlet-name>
    <servlet-class>tools.session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>auth.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
</web-app>